.wrapper {
    background-color: white;
}

.windowBorder {
    background-color: transparent;
}

.windowHeader {
    background-color: whitesmoke;
}

.windowInternalContainer {
    background-color: white;
}