ygllo-window {
    position: absolute;
}

.wrapper {
    background-color: white;
    /* border-color: silver; */
}

.windowBorder {
    background-color: transparent;
}

.windowHeader {
    border-bottom-color: silver;
    background-color: whitesmoke;
}