@import './basicColors.css';

.wrapper {
}

.windowBorder {
    position: absolute;
}

.windowBorder.borderLeft {
    left: 0px;
    height: inherit;
    width: 15px;
    cursor: col-resize;
}

.windowBorder.borderRight {
    right: 0px;
    height: inherit;
    width: 15px;
    cursor: col-resize;
}

.windowBorder.borderTop {
    top: 0px;
    height: 15px;
    width: inherit;
    cursor: row-resize;
}

.windowBorder.borderBottom {
    bottom: 0px;
    height: 15px;
    width: inherit;
    cursor: row-resize;
}

.windowHeader {
    position: absolute;
    top: 0px;
    height: 20px;
    width: inherit;
    text-align: center;
    border: 2px ridge;
    cursor: move;
    /* prevent the user to select the title of windows (would be weird and distracting) */
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.windowInternalContainer {
    width: inherit;
    height: 100%;
    margin-top: 20px;
    border: 2px ridge;
}