.windowWrapper {
    background-color: white;
    border-color: lightgrey;
}

.windowBorder {
    opacity: 0;
}

.windowHeader {
    background-color: whitesmoke;
}

.windowInternalContainer {
    background-color: white;
}

.menuParent {
    background-color: silver;
}

.menuBarBackground {
    background-color: silver;
 }

 .subMenu {
    background-color: whitesmoke;
}

.menuItem {
}
